* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #052049; /* mørkeblå */
    --secondary-color: #FF99CF; /* lysserød */
    --accent-color: #633B90; /* lilla */
    --text-color: #FF99CF; /* lysserød */
}

/* footer styling */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 40px 20px;
    text-align: center;
}

/* Flex container for footer */
.footer {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo styling */
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Afstand mellem logo og tekst */
}

footer img.radar-logo {
    max-width: 200px; 
}


footer section {
    width: 100%;
    max-width: 400px; 
    margin: 10px 0; 
}

/* Tekst styling */
footer .footer-h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-h3-generel {
    padding-top: 20px;
}

footer .footer-p {
    font-size: 16px;
    line-height: 1.5;
}

footer .footer-p a {
    color: var(--text-color);
    text-decoration: none;
}

footer .footer-p a:hover {
    text-decoration: underline;
}

/* hr styling */
hr {
    border: none;
    border-bottom: 4px dotted var(--secondary-color);
    margin: 20px auto;
    width: 60%;
    padding-top: 3%;
}
