* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #052049; /* mørkeblå */
    --secondary-color: #FF99CF; /* lysserød */
    --accent-color: #633B90; /* lilla */
    --text-color: #FF99CF; /* lysserød */
    --hovor-color:#e377b1; /* mørk lysserød */
    --pxfoto-color:#050f1f;/* mørk blå til 1px rundt om billeder */
}

/* to billeder i toppen */

.img-banner {
    display: flex; /* Gør containeren til en flexbox */
    justify-content: center; /* Centrerer billederne */
    align-items: center; /* Centrerer billederne lodret */
    padding: 70px; /* Ingen padding rundt om containeren */
    gap: 70px; /* Ingen mellemrum mellem billederne */
    background-color: var(--secondary-color);
    padding-right: 0;
}

.banner-img {
    flex: 1; /* Gør hver figur lige bred */
}

.banner-img img {
    width: 80%; /* Sørger for, at billederne fylder hele figurens bredde */
    height: auto; /* Bevarer billedets proportioner */
   
    border: 1px solid #e377b1; /* Mørkeblå ramme */
       
    background-color: #1a1a1a; /* Mørk baggrundsfarve til at fremhæve rammen */
}