* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #052049; /* mørkeblå */
    --secondary-color: #FF99CF; /* lysserød */
    --accent-color: #633B90; /* lilla */
    --text-color: #FF99CF; /* lysserød */
}

